.footer__copyright {
    margin: 0;
    color: #545454;
    font-size: 1.12rem;
    line-height: 1.21;
}

@media screen and (max-width: 600px) {
    .footer__copyright {
        font-size: 0.87rem;
    }
}