.login__form-field {
    width: 100%;
    border: none;
    border-bottom: 2px solid #CCC;
    padding: 0 0 13px 0;
    color: #CCC;
    font-size: 0.87rem;
    font-weight: normal;
    line-height: 1.2;
    background: none;
}