.profile__info {
    margin: 20px 40px 0 30px;
    max-width: 560px;
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 24px;
    gap: 16px;
    grid-template-areas:
        "name pen"
        "position position";
}

@media screen and (max-width: 600px) {
    .profile__info {
        max-width: 240px;
        margin: 22px auto 0;
        grid-template-columns: 1fr 30px;
        gap: 10px;
    }
}